name: CI with Maven
on:
  push:
    branches: [ main ]
  pull_request:
    branches: '*'
jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: wagoid/commitlint-github-action@v6
        if: matrix.os == 'ubuntu-latest'
      - name: Set up JDK 1.8
        uses: actions/setup-java@v4
        with:
          distribution: corretto
          java-version: 8
          cache: maven
      - name: Build with Maven (Windows)
        env:
          TEMP: "C:\\Temp"
        run: "mvn -U -ntp clean verify -Djava.io.tmpdir=C:\\Temp"
        shell: cmd
        if: matrix.os == 'windows-latest'
      - name: Build with Maven (not Windows)
        run: mvn -U -ntp clean verify
        if: matrix.os != 'windows-latest'
      - name: Upload Failed Test Report
        uses: actions/upload-artifact@v3
        if: failure()
        with:
          name: Failed Test Report ${{ matrix.os }}
          path: server/target/surefire-reports
      - name: Convert Jacoco to Cobertura
        run: |
          python3 ./.github/scripts/cover2cover.py client/target/jacoco-report/jacoco.xml src/main/java > client/target/jacoco-report/cobertura.xml
          python3 ./.github/scripts/cover2cover.py server/target/jacoco-report/jacoco.xml src/main/java > server/target/jacoco-report/cobertura.xml
        if: matrix.os == 'ubuntu-latest'
      - name: Upload Client Coverage
        uses: actions/upload-artifact@v3
        if: matrix.os == 'ubuntu-latest'
        with:
          name: Client Coverage Report
          path: client/target/jacoco-report
      - name: Upload Server Coverage
        uses: actions/upload-artifact@v3
        if: matrix.os == 'ubuntu-latest'
        with:
          name: Server Coverage Report
          path: server/target/jacoco-report
      - name: Save PR number
        run: |
          mkdir -p ./pr/client/jacoco-report
          mkdir -p ./pr/server/jacoco-report
          echo ${{ github.event.number }} > ./pr/NR
          echo ${{ github.event.pull_request.head.sha }} > ./pr/SHA

          cp client/target/jacoco-report/cobertura.xml ./pr/client/jacoco-report/cobertura.xml
          cp server/target/jacoco-report/cobertura.xml ./pr/server/jacoco-report/cobertura.xml
        if: github.event_name == 'pull_request' && matrix.os == 'ubuntu-latest'
      - name: Upload files
        uses: actions/upload-artifact@v3
        with:
          name: pr
          path: pr/
        if: github.event_name == 'pull_request' && matrix.os == 'ubuntu-latest'
