name: CI with Maven
on:
  push:
    branches: [ main ]
  pull_request:
    branches: '*'
jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - uses: wagoid/commitlint-github-action@v2
        if: matrix.os == 'ubuntu-latest'
      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - name: Build with Maven (Windows)
        env:
          TEMP: "C:\\Temp"
        run: "mvn -U -ntp clean verify -Djava.io.tmpdir=C:\\Temp"
        shell: cmd
        if: matrix.os == 'windows-latest'
      - name: Build with Maven (not Windows)
        run: mvn -U -ntp clean verify
        if: matrix.os != 'windows-latest'
      - name: Convert Jacoco to Cobertura
        run: |
          python3 ./.github/scripts/cover2cover.py client/target/jacoco-report/jacoco.xml src/main/java > client/target/jacoco-report/cobertura.xml
          python3 ./.github/scripts/cover2cover.py server/target/jacoco-report/jacoco.xml src/main/java > server/target/jacoco-report/cobertura.xml
        if: matrix.os == 'ubuntu-latest'
      - name: Upload Client Coverage
        uses: actions/upload-artifact@v1.0.0
        if: matrix.os == 'ubuntu-latest'
        with:
          name: Client Coverage Report
          path: client/target/jacoco-report
      - name: Upload Server Coverage
        uses: actions/upload-artifact@v1.0.0
        if: matrix.os == 'ubuntu-latest'
        with:
          name: Server Coverage Report
          path: server/target/jacoco-report
      - name: Save PR number
        env:
          PR_NUMBER: ${{ github.event.number }}
          PR_SHA: ${{ github.event.pull_request.head.sha }}
        run: |
          mkdir -p ./pr/client/jacoco-report
          mkdir -p ./pr/server/jacoco-report
          echo "$PR_NUMBER" | tr -cd '0-9' > ./pr/NR
          echo "$PR_SHA" | tr -cd 'a-fA-F0-9' > ./pr/SHA

          cp client/target/jacoco-report/cobertura.xml ./pr/client/jacoco-report/cobertura.xml
          cp server/target/jacoco-report/cobertura.xml ./pr/server/jacoco-report/cobertura.xml
        if: github.event_name == 'pull_request' && matrix.os == 'ubuntu-latest'
      - name: Upload files
        uses: actions/upload-artifact@v2
        with:
          name: pr
          path: pr/
        if: github.event_name == 'pull_request' && matrix.os == 'ubuntu-latest'
