name: CI with Maven
on:
  push:
    branches: [ master, new-ipc-client ]
  pull_request:
    branches: '*'
jobs:
  build:
    runs-on: [self-hosted, Linux, Greengrass]
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - name: Build with Maven
        run: mvn -ntp clean verify
      - name: Convert Jacoco to Cobertura
        run:  python3 ./.github/scripts/cover2cover.py target/jacoco-report/jacoco.xml src/main/java > target/jacoco-report/cobertura.xml
      - name: cobertura-report
        uses: 5monkeys/cobertura-action@v5
        with:
          # The GITHUB_TOKEN for this repo
          repo_token: ${{ github.token }}
          # Path to the cobertura file.
          path: target/jacoco-report/cobertura.xml
          # If files with 100% should be skipped from report.
          skip_covered: false
          # Minimum allowed coverage percentage as an integer.
          minimum_coverage: 60
          # Show line rate as specific column.
          show_line: true
          # Show branch rate as specific column.
          show_branch: true
          # Use class names instead of the filename
          show_class_names: true
      - name: Upload Coverage
        uses: actions/upload-artifact@v1.0.0
        with:
          name: Coverage Report
          path: target/jacoco-report
  publish:
    needs: build
    runs-on: [self-hosted, Linux, Greengrass]
    if: github.event_name == 'push'
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - name: Build with Maven
        run: mvn -ntp clean package -DskipTests
      - run: sudo apt-get install -y awscli
      - name: Upload to S3
        run: aws s3 cp target/cli-1.0-SNAPSHOT.zip s3://gg-evergreen-releases/${{github.repository}}/${{github.ref}}/evergreen-cli-${{github.sha}}.zip
  # TODO: remove this job when branch is merged in
  publishnewCli:
    needs: build
    runs-on: [self-hosted, Linux, Greengrass]
    if: github.ref == 'refs/heads/new-ipc-client'
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - name: Build with Maven
        run: mvn -ntp clean package -DskipTests
      - run: sudo apt-get install -y awscli
      - name: Upload to S3
        run: aws s3 cp target/cli-1.0-SNAPSHOT.zip s3://gg-evergreen-releases/${{github.repository}}-new-sdk/${{github.ref}}/evergreen-cli-${{github.sha}}.zip
